body, #root {
  min-height: 100svh;
  min-width: 100vw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #4670f6;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, .85);
  text-align: center;
}

.App-link {
  appearance: none;
  display: inline-block;
  color: #4670f6;
  padding: .55rem 2rem;
  min-width: 10rem;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 1em;
  background-color: #fff;
  border: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
  cursor: pointer;
  margin-top: 0.5rem;
}

.App-link:hover {
  opacity: .8;
}

.fadeInUp {
  animation: fadeInUp .4s ease-out both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
